*{
    margin: 0% 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html , body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#nav{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.gola{
    
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
#nav-part2 h4{
    font-size: 16px;
    font-weight: 600;
}
#nav-part2 h4 span{
    color: rgb(102, 102, 129);
    margin-left: 30px;
}
#nav2{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 40px;
}
#nav2 h3{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}
#content{
    height: calc(100% - 150px);
    width: 100%;
}
#text-content{
    display: flex;
    height: 40%;
    flex-wrap: nowrap;
    width: 100%; 
    overflow-x:auto;

}
#text-content::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
}
#text-content::-webkit-scrollbar-thumb{
    background-color:orangered;
}
.elem{
    flex-shrink: 0;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.elem h1{
    font-size: 110px;
    font-weight: 400 ;
}
#image-content{
    height: 60%;
    width: 100%;    
    display: flex;
    overflow-x: auto;
}
#image-content::-webkit-scrollbar{
    display: none;
}
#image-content::-webkit-slider-thumb{
    background-color: orangered;
}
#image-content img{
    flex-shrink: 0;
    height: 100%;
    object-fit: cover;
    width: 100%;
    object-position: top;
}